
.header{
    width:100%;
    color: transparent;
}
#navbar-header1{
    width:45%;
    padding-top:0.2%;
}
#navbar-header2{
    font-family:"微软雅黑";
    color:#FFFFFF;
    position:relative;
    left:36%;
    font-size: 1.6em;
    margin-top: 3%;
}
#form-control1{
    width:12%;
    position: absolute;
    top:10%;
    left:70%;
}
#btn-default1{
    background-color:#bababa;
    border:1px solid;
    border-color:#dddddd;
    position: absolute;
    left: 82%;
    top: 10%;
}
#navbar-left1{
    font-family:"微软雅黑";
    color: #FFFFFF;
    font-size: 1.1em;
    position:relative;
    left: -12%;
    width: 75%;
}
.navbar-collapse1{
    margin-top: 0.6%;
    position:relative;
    right:5%;

}
#navbar-default1{
    background-color:#5e5e5e;
    width: 100%;
}
#navbar-brand1{
    position: relative;
    margin-top:4px;
}
#navbar-left2{
    position: absolute;
    top:5%;
    left:88%;
    width: 15%;
}
#navbar-left3{
    margin-top:-1.5px;
    position:absolute;
    font-size: 0.4em;
    left:76%;
    width:4.5%;
}
#panel-body1{
    height:60px;
}
#panel-body2{
    margin:0.3%;
}
#panel-heading1{
    text-align:center;
    font-size:1.2em;
    font-family:'微软雅黑';
    color:#d58512;
}
#navbar-default2{
    display: flex;
    background-color:#5e5e5e;
    width: 100%;
}
.li1{
    border:1px solid;
    border-color:#dddddd;
}
.ul1{
    width:8%;
    position:fixed;
    top:18.8%;right:19.5%;
}
.ul2{
    width:8%;
    position:fixed;
    top:19%;right:19.5%;
}
.center{
    text-align:center;
}
.p2{
    font-size: 1.1em;
    margin: 16%;
}
.a1{
    color:#99cb84;
    margin-top:5%
}
.a2{
    color:#99cb84;
    margin-top:3%
}
.a3{
    color:#99cb84;
}

.navbar1{
    height:80px;
    background-color:#5e5e5e
}
#navbar-left4{
    font-family:"微软雅黑";
    color: #FFFFFF;
    font-size: 1.1em;
    position:relative;
    left: 15%;
    width: 45%;
    margin-top:-2%;
    margin-bottom: 0.5%;
}
.td1{
    border: 1px solid;
    border-color:#dddddd;
    font-family:"微软雅黑";
    color:#d58512;
    font-size: 1.1em;
    text-align: center;
    position:relative;
    height:33px;
    width:10%;
}
.td0{
    height: 35px;
    background-color:#e3e3e3;
    border-color:#cccccc;
}
.td2{
    width:6%;
}
.td3{
    width:40%;
}
.td4{
    font-size: 1.1em;
    color:#2e6da4;
}
.table1{
    width:100%;
}
.td5{
    color:#2ca02c;
}
.td6 {
    color: #880000;
}
#form-control2{
    width:45%;
}
.form-control1{
    position: relative;
    left:150%;
    margin-top: -195%;
    width: 550%;
}
#ck1{
    position: absolute;
    left:68%;
    top:-2%;
    width:950px;
}